/*Frenzy Icons*/
@font-face {
    font-family: Bariol_Frenzy_Icons;
    src: url(Typography/BariolFrenzyIcons.ttf);
}
/*Bariol bold font*/
@font-face {
  font-family: Bariol_Bold;
  src: url(Typography\Bariol_Bold.otf);
}
/*Open Sans Regular font*/
@font-face {
  font-family: OpenSans_Regular;
  src: url(css\Typography\OpenSans-Regular.ttf);
}

/*******Style for header menu*******/

/*Style bar header*/
.barHeader{
  height: 60px;
  background-color: #00BAB9;
  padding: 0 15px
}

/*Style logo Frenzy*/
.imgLogo{
  height: 100%;
  width: 160px;
}
/*Content all icons of menu*/
.contentIconsMenu{
  display: flex;
}
/*Content of the icon and text*/
.IconMenu{
  text-align: center;
  width: 20%;
  height: 60px;
}

/*Style icons menu*/
.frenzyHeaderIcons {
    font-family: Bariol_Frenzy_Icons;
    color: #fff;
    font-size: 30px;
    width: 100%;
    margin-bottom: 0;
}

/*Style text menu*/
.textMenuHeader{
  font-size: 9px;
  color: #fff;
  font-family: Bariol_Bold;
  width: 100%;
  height: 25px;
  margin-bottom: 0;
}


/*******Style for all views*******/

/*Center vertical*/
.flexVerticalCenter{
  display: flex;
  align-items: center;
}
/*Center horizontal*/
.flexHorizontalCenter{
  display: flex;
  justify-content: center;
}
/*Justify the content to center*/
.justifyContentCenter{
  justify-content: center;
}
/*Float the content to right*/
.floatRight{
  float: right;
}
/*Float the content to left*/
.floatLeft{
  float: left;
}
/*Remove the padding in the bottom*/
.paddingBottom0{
  padding-bottom: 0;
}
/*Full width*/
.width100{
  width: 100%;
}
/*Full height*/
.height100{
  height: 100%;
}
/*Align text to center*/
.textCenter{
  text-align: center;
}
