<!-- Side Menu in Small Screen Devices -->
<ul class="menuResponsive navyBlueColor z_index_menu">
  <li class="iconMenuResponsive clickCursor" ng-click="showMenu()">
    <span class="glyphicon glyphicon-menu-hamburger menuIcon"></span>
  </li>
  <div>
    <li class="bariolBold sidebar-brand text-center colorTextDefault" style="font-size:20px" ng-repeat='name in dashboardMenuName track by $index'>
      {{name}}
    </li>
  </div>
</ul>
<!-- Absolute Sidebar Menu -->
<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper" class="navyBlueColor">
    <!-- Options Principal Menu -->
    <ul class="sidebar-nav">
      <li class="bariolBold sidebar-brand text-center frenzyTitleColorText">
        Frenzy Dashboard
      </li>
      <!-- Profile Section -->
      <div class="container profileContainer">
        <div class="row">
          <!-- Photo Profile -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 photoProfilePosition">
            <div class="photoProfileContainer">
              <img class="img-responsive sizePhotoProfile" ng-src = "{{Customer.Logo}}" ng-if="Customer.Logo">
              <img class="img-responsive sizePhotoProfile" ng-src = "img/frenzy.png" ng-if="!Customer.Logo">
            </div>
          </div>
          <!-- Information of the Business Profile -->
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 infoBusiness">
            <ul class="businessContain">
              <li class="bariolBold infoBusinessSpacing" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">{{Customer.Name}} </li>
              <li class="infoBusinessSpacing nameUserText" style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis">{{userInfo.UserName}}</li>
              <li class="infoBusinessSpacing editSidebarText" ui-sref="EditProfile2" ng-if="userInfo.Business[Customer.$id].Role == 'Admin'">Editar</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Dashboard Option Sidebar Menu -->
      <li class="bariolBold colorTextDefault" ng-class="{optionSelected:optionVar==='Dashboard'}" ng-click="changeClass('Dashboard')" ui-sref='Notifications'>
        Notificaciones
      </li>
      <!-- Publication Option Sidebar Menu -->
      <li class="bariolBold colorTextDefault bariolBold" ng-class="{optionSelected:optionVar==='Publication'}" ng-click="changeClass('Publication')" ui-sref='Publication'>
        Publicaciones
      </li>
      <!-- Analytics Option Sidebar Menu -->
      <li class="bariolBold colorTextDefault" ng-class="{optionSelected:optionVar==='Analytics'}" ng-click="changeClass('Analytics')" ui-sref='Analitycs'>
        Analytics
      </li>
      <!-- Finances Option Sidebar Menu -->
      <li class="bariolBold colorTextDefault" ng-class="{optionSelected:optionVar==='Finance'}" ng-click="changeClass('Finance')" ui-sref='Finance'>
        Finanzas
      </li>
      <!-- Team Option Sidebar Menu -->
      <li class="bariolBold colorTextDefault" ng-class="{optionSelected:optionVar==='Team'}" ng-click="changeClass('Team')" ui-sref="Team">
        Equipo
      </li>
      <!-- Technical Support Option Sidebar Menu -->
      <li class="bariolBold colorTextDefault" ng-class="{optionSelected:optionVar==='Support'}" ng-click="changeClass('Support')" ui-sref="support">
        Soporte Técnico
      </li>
      <!-- Logout -->
      <li class="bariolBold colorTextDefault logoutSidebar" ui-sref="Home">
        <img class="logoutSidebarImage" src="img/logout.png" alt="logoutIcon">
        <span id="logout" class="bariolBold">Cerrar Sesión</span>
      </li>
    </ul>
  </div>
  <!-- Page Content -->
  <div class="container-fluid">

    <!-- Notifications View -->
    <div ui-view="notifications" autoscroll="false"></div>

    <!-- Publications View -->
    <div ui-view="publications" autoscroll="false"></div>

    <!-- Analitycs View -->
    <div ui-view="analitycs" autoscroll="false"></div>

    <!-- Finance View -->
    <div ui-view="finance" autoscroll="false"></div>

    <!-- Team View -->
    <div ui-view="team" autoscroll="false"></div>



  </div>
</div>
