<!-- Content the bar header -->
<div class="container-fluid">
  <div class="row barHeader">
    <!-- Content the logo of Frenzy -->
    <div class="flexVerticalCenter justifyContentCenter col-xs-5 col-sm-3 col-md-2 col-lg-2">
      <img class="imgLogo" src="img\LogoFrenzy.png" alt="LogoFrenzy">
    </div>
    <!-- Content all icons of the menu -->
    <div class="floatRight contentIconsMenu col-sm-6 col-md-6 col-lg-4">
      <!-- What is Frenzy -->
      <div class="IconMenu">
        <p class="frenzyHeaderIcons">
          Y
        </p>
        <p class="textMenuHeader">
          ¿Qué es Frenzy?
        </p>
      </div>
      <!-- Favorites -->
      <div class="IconMenu">
        <p class="frenzyHeaderIcons">
          B
        </p>
        <p class="textMenuHeader">
          Favoritos
        </p>
      </div>
      <!-- Points -->
      <div class="IconMenu">
        <p class="frenzyHeaderIcons">
          C
        </p>
        <p class="textMenuHeader">
          Puntos
        </p>
      </div>
      <!-- Gifts -->
      <div class="IconMenu">
        <p class="frenzyHeaderIcons">
          K
        </p>
        <p class="textMenuHeader">
          Premios
        </p>
      </div>
      <!-- Settings -->
      <div id="showLogin" class="IconMenu flexVerticalCenter justifyContentCenter" ng-click="showLogin()">
        <p class="frenzyHeaderIcons">
          D
        </p>
      </div>
    </div>
  </div>


  <!-- Content the login or register -->
  <div id="boxLoginContent" class="contentLogin flexVerticalCenter justifyContentCenter">
    <div class="row boxLogin">
      <div class="contentDownloadIt col-xs-12 col-sm-5 col-md-6 col-lg-7">
        <div class="width100">
          <p class="descriptionDownloadit">Ingresa y descubre de todas las promociones y cupones que tenemos para ti.</p>
          <span class="DownloadIt">Descárgala.</span>
        </div>
      </div>
      <div class="height100 floatRight flexVerticalCenter col-xs-12 col-sm-7 col-md-6 col-lg-4">
        <div class="login floatRight">
          <div class="boxItemsLogin">
            <p class="textIngresa">Ingresa con</p>
            <div class="width100 flexHorizontalCenter">
              <div class="facebook flexVerticalCenter justifyContentCenter">
                <div>Facebook</div>
              </div>
            </div>
          </div>

          <div class="boxItemsLogin flexVerticalCenter">
            <div class="textIngresa line40"></div>
            <div class="textIngresa o">O</div>
            <div class="textIngresa line40"></div>
          </div>

          <div class="boxItemsLogin flexVerticalCenter flexHorizontalCenter">
            <div class="email flexVerticalCenter justifyContentCenter">
              <div>Correo Electrónico</div>
            </div>
          </div>

          <div class="boxItemsLogin flexVerticalCenter">
            <div class="textIngresa line100"></div>
          </div>

          <div class="boxItemsLogin flexVerticalCenter flexHorizontalCenter">
            <div class="enterprise flexVerticalCenter justifyContentCenter">
              <div>¿Eres Empresa?</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- col-xs-5 col-sm-3 col-md-2 col-lg-2 -->
